h3{
    color: $red;
    font-size: 90px;
    text-align: center;
    margin-bottom: 70px;
    margin-top: 50px;
}
p{
    color: $red;
    text-align: center;
    margin-bottom: 40px;
    font-size: 18px;
}