.about{
    margin-inline: 19px;   
    .bannerAbout {
        display: block;
        margin: 0 auto;
        filter: brightness(0.8); 
        border-radius: 10px; 
        margin-bottom: 10px;
        width: 100%;
      }
}