.banner {
  margin: 10px 19.5px;
  height: 111px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.bannerImg {
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius: 10px;
}

h1 {
  position: absolute;
  color: white;
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

  button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }