.banner {
    
    height: 111px;
    display: flex;
    align-items: center;
    position: relative;
    margin-inline: 19px;
    .imgBanner {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 10px;
        filter: contrast(0.5);
       
    }
    h1{
        position: absolute;
        font-size: 23px;
        color: #fff;
        z-index: 1;
        padding-left: 16px;
        font-weight: normal;
    }
}



