footer{
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 200px; 
    color: white;
}
footer img{
   

    margin-bottom: 15px;
}
footer p{
    display: flex;
    font-size: 11px;
}