header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    width: 100%;
    .logo-kasa{
        display: flex;
        align-items: center;
        a{
            width: 60%;
            img{
                width: 100%;
                height: fit-content;
            }     
        }
    }
    ul{
        list-style: none;
        display: flex; 
        // margin-right: 3px;
    }
    li{
        width: 66px;
        margin-block: 15px;
        &:first-child{
            margin-right: 11px;
        }
    }
    a{
        text-decoration: none;
        color: $red;    
        font-size: 10px;   
        &:hover{
           text-decoration: underline;
        }
    }
 
}


  

  @media only screen and (max-width : 1440px){
    header {
        max-width: 1240px;
        margin: 0 auto;
    }
}

@media only screen and (min-width :1024px) {
    header{
        ul{
            li{
                width: 136px;
                a{
                    font-size: 1.5rem;

                }
            }
        }
    }
}