header{
    display: flex;
    justify-content: space-between;
    padding: 20px;
    
    img{
        width: 60%;
    }     
    ul{
        list-style: none;
        display: flex; 
        margin-right: 3px;
    }
    li{
        width: 66px;
        margin-block: 8px;
        &:first-child{
            margin-right: 15px;
        }
    }
    a{
        text-decoration: none;
        list-style: none;
        color:#FF6060;   
        font-family: 'Montserrat', sans-serif;  
        font-size: 10px;   
        &:hover{
           text-decoration: underline;
        }
    }
 
}


  

  @media only screen and (max-width : 1440px){
    header {
        max-width: 1240px;
        margin: 0 auto;
    }
}
@media only screen and (min-width :1440px) {
    header {
        padding: 0;
        margin: 20px 114px;
        li{
            width: 100px;
        }
        a{
            font-size: 17px;
        }
    }
}